<%- include('partials/header') -%>
<div class="container-fluid gy-3">
  <div class="row">
    <div class="sec col justify-content-center text-center">
      <% if(user.img === true) {%>
      <div class="p-3 image-div">
        <img class="profile-pic" src="<%= user.img %>" />
      </div>
      <% } %>
      <div class="pic-container">
        <img class="rounded-circle profile-pic"
          src="https://media.discordapp.net/attachments/745026292264730795/847957377277362226/empty.jpg" id="output" />
        <div class="file-container">
          <input type="file" accept="image/*" onchange="loadFile(event)" class="form-control" id="file" name="file">
        </div>
      </div>
      <div class="p-3">
        <span><%= user.userName %></span>
      </div>
      <div class="p-3 quote">
        <span><%= user.favQuote ? user.favQuote : '"You have brains in your head. You have feet in your shoes. You can steer yourself any direction you choose. You’re on your own. And you know what you know. And YOU are the one who’ll decide where to go…"'%></span>
      </div>
      <div class="p-3">
        <span><a href="" class="settings">Settings</a></span>
      </div>
      <div class="p-3">
        <a href="/logout">Logout</a>
      </div>
    </div>


    <div class="sec col-sm-6 offset-md-1 justify-content-center text-center pb-3">
      <div class="container">
        <div class="row">
          <div class="col-12">Club Collections</div>
        </div>
        <div class=" align-items-end flex-column d-flex">
          <div><a href="./createclubform"><i class="fas fa-plus"></i></a></div>
          <div><a href="#"><i class="fas fa-envelope"></i></a></div>
        </div>
        <% for ( let i=0; i < clubs.length; i++ ) { %>
        <a href="/clubs/<%= clubs[i]._id %>">
          <div class="row w-100">
            <div class="col-12 col justify-content-start d-flex border border-secondary gy-3">
              <div class="row w-100">
                <div class="container overflow-hidden">
                  <div class="club-info row">
                    <div class="col-2 align-self-center">
                      <img class="rounded-circle profile-pic col" src="https://i.imgur.com/rmPcjzA.jpg"
                        alt="founder-profile-pic">
                      <div>
                        <p><%= clubs[i].founderName %></p>
                      </div>
                    </div>

                    <div class="col-10">
                      <div class="justify-content-start text-start">
                        <span class="title text-start">Book: <%= clubs[i].bookTitle %></span>
                      </div>
                      <div class="author text-start">
                        <span class="author">Author: <%= clubs[i].bookAuthor %></span>
                      </div>
                      <div class="text-start">
                        <p class="synopsis text-break"><%= clubs[i].synopsis %>
                        </p>
                      </div>
                      <p>
                        Members: <% for ( let j=0; j < clubs[i].members.length; j++ ) { %>
                        <%= j !== clubs[i].members.length - 1 ? clubs[i].members[j].userName + "," : clubs[i].members[j].userName  %>
                        <% } %> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div> <% } %>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class=" sec col offset-md-1 justify-content-center text-center">
    <div class="p-3">friends</div>
  </div>
</div>
<script src="../public/js/index.js"></script>
<%- include('partials/footer') -%>